<form action="/dashboard/addstation" method="POST">
  <div class="field">
    <label class="label">Name</label>
    <input class="input" type="text" placeholder="Name" name="title" required>
  </div>
  <button class="button is-black">Add Station</button>
</form>
