<form class="box" action="/station/{{station._id}}/addreading" method="POST">

  <div class="columns">
    <div class="field column">
      <label class="label">Code</label>
      <div class="control has-icons-left">
        <div class="select is-black">
          <select name="code">
            <option>Select Code</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="500">500</option>
            <option value="600">600</option>
            <option value="700">700</option>
            <option value="800">800</option>
          </select>
        </div>
        <div class="icon is-small is-left">
          {{>icons/cloud}}
        </div>
      </div>
    </div>
    <div class="field column">
      <label class="label">Temperature</label>
      <div class="control has-icons-left">
        <input
          class="input"
          placeholder="00.0C"
          type="double"
          step="any"
          name="temperature"
        />
        <div class="icon is-small is-left">
          {{>icons/thermometer}}
        </div>
      </div>
    </div>
    <div class="field column">
      <label class="label">Wind Speed</label>
      <div class="control has-icons-left">
        <input
          class="input"
          placeholder="00.00kmh"
          type="double"
          step="any"
          name="windSpeed"
        />
        <div class="icon is-small is-left">
            {{>icons/wind}}
        </div>
      </div>
    </div>
    <div class="field column">
      <label class="label">Wind Direction</label>
      <div class="control has-icons-left">
        <input
          class="input"
          placeholder="000deg"
          type="double"
          step="any"
          name="windDirection"
        />
           <div class="icon is-small is-left">
          {{>icons/direction}}
        </div>
      </div>
    </div>
    <div class="field column">
      <label class="label">Pressure</label>
      <div class="control has-icons-left">
        <input
          class="input"
          placeholder="000hPa"
          type="double"
          step="any"
          name="pressure"
        />
         <div class="icon is-small is-left">
           {{>icons/pressure}}
        </div>
      </div>
    </div>
  </div>
  <div class="field mt-4">
    <div class="control">
      <button class="button is-black">Submit Report</button>
    </div>
  </div>
</form>