<form action="/dashboard/addstation" method="POST">
  <div class="field">
    <label class="label">Name</label>
       <div class="control has-icons-left">
          <input class="input" placeholder="Station Name" name="title" required>
            <div class="icon is-small is-left">
              {{> icons/location}}
            </div>
        </div>
  </div>
   <div class="field">
      <label class="label">Latitude</label>
        <div class="control has-icons-left">
          <input class="input" placeholder="00.00" name="latitude" required>
            <div class="icon is-small is-left">
              {{> icons/globe}}
            </div>
       </div>     
  </div>
    <div class="field">
      <label class="label">Longitude</label>
        <div class="control has-icons-left">
          <input class="input" placeholder="00.00"  name="longitude" required>
            <div class="icon is-small is-left">
              {{> icons/globe}}
            </div>
        </div>
    </div>
  <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" required>
                    I agree to the <a href="terms">terms and conditions</a>
                  </label>
                </div>
              </div>
    <div class="control">
      <button class="button is-black">Add Station</button>
     </div>         
</form>


     
   
 