<nav class="navbar mb-6 is-light is-inverted">
  <div class="navbar-brand">
    {{> brand}}
      <div class="level-left">
        <div>
          Weather Top Services inc.
        </div>
      </div>
  </div> 
     <div class="navbar-menu">
       <div class="navbar-end p-6">
        <div class="buttons">      
          <a id="dashboard" class="button" href="/dashboard">Dashboard</a>
          <a id="about" class="button" href="/about">About</a> 
           <a id="logout" class="button" href="/logout"> Logout </a>
        </div>
      </div>
    </div>
</nav>
   
<script>
  document.getElementById("{{active}}").classList.add("is-black");
</script>
  