<div class="content box">
  <h1 class="title">
    Station
  </h1>
  <div class="block">
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box has-background-black has-text-white">
        Station
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box has-background-black has-text-white">
        Weather
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box has-background-black has-text-white">
        Temp
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box has-background-black has-text-white">
        Wind
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box has-background-black has-text-white">
        Pressure
      </article>
    </div>
  </div>
</div>