{{> menu active="index"}}

<div class="content box">
  <p class="title">
    WeatherTop
  </p>
  <div class="columns">
    <div class="column is-half">
      <div class="content has-text-centered is-large">
        <p class="py-6">
          Monitor the latest meteorological readings collected from <em>WeatherTop 1000</em> weather stations around the
          country.
          Keep up to date with the latest temperatures, wind speeds and much more. You can also become a contributor by
          using the <em>WeatherTop 1000</em> modular weather station to collect readings and submit them on this easy to
          use application.
        <figure>
        <img src="https://cdn.glitch.global/94c9d674-fe0d-4f74-b357-97247460aa87/weathertop-watch-tower.jpg?v=1689784018707">
      </figure>
        </p>
      </div>
    </div>
    <div class="column is-half">
      <figure class="image is-square">
        <img src="https://cdn.glitch.global/94c9d674-fe0d-4f74-b357-97247460aa87/vector-weather-forecast-icons-set.png?v=1689784015501">
      </figure>
    </div>
  </div>
</div>
