{{> menu active="dashboard"}}

<header class="title is-2 has-text-grey-dark has-background-grey-light">
     {{users.firstName}}'s Weather Stations
</header>

<section class="section">
  {{> list-stations}}
  {{> add-station}}
</section>

