{{> welcome-menu}}

<div class="content box">   
    <div class="content has-text-centered text is-large has-text-weight-bold">
        <p class="title">
          Weather Top
        </p>
    </div>    
    <div class="content has-text-centered text is-medium">
           <p> 
              Welcome to <strong>Weather Top</strong>. Here you can submit weather reports from your <em>WeatherTop 1000</em>
              weather station. This easy to use application displays weather analytics for each station.
              Please select <a id="signup" class="" href="/signup">Signup </a> or
              <a id="login" class="" href="/login">Login </a> to continue.
          </p>
          <figure class="image is-square">
            <img src="https://cdn.glitch.global/94c9d674-fe0d-4f74-b357-97247460aa87/vector-weather-forecast-icons-set.png?v=1689784015501" alttext="weather symbols">
          </figure>
    </div>
      <footer class="footer box pb-4">
        <div class="content has-text-centered">
      <p>
        <em>Copyright WeatherTop Demo 2023</em>
      </p>
      </div>
      </footer>
</div>