{{> menu active="index"}}

<div class="content box">   
    <div class="content has-text-centered text is-large has-text-weight-bold">
        <p class="title">
          Weather Top
        </p>
    </div>    
    <div class="content has-text-centered text is-medium has-text-weight-bold">
           <p> 
             Select Dashboard or About 
          </p>
    </div>
<footer class="footer box pb-4">
  <div class="content has-text-centered">
    <p>
      <em>Copyright WeatherTop Demo 2023</em>
    </p>
  </div>
</footer>
</div>



