{{> menu}}

<section class="section">
  <div class="title">
    {{> station}}
     <div class="subtitle">
  </div>
    {{> list-readings}}
    {{> list-stations}}
    {{> add-reading}}  
  </div>
</section>