{{> menu}}

<section class="section">
  <div class="title">
    {{> station}}
  </div>
    <div class="subtitle"> 
      {{> list-readings}}
      {{> list-stations}}
      {{> add-reading}}  
    </div>
</section>