{{> menu active="terms"}}


<div class="columns">
    <div class="column is-half">
      <div class="content has-text-centered is-small">
        <p class="py-6">
          The following are the terms and conditions of using the weather top app:
        </p>

        <p>
          By using this app you agree that any data entered by you the user can be used by WeatherTop.
        </p>
        
        <p>            
         We will provide you with prior notice of any scheduled changes to the Services you are using. You will not use the Services for any illegal or unauthorised purpose.
         We will maintain certain data that you transmit to the Services for the purpose of managing the
        performance of the Services, as well as data relating to your use of the Services. 
        </p>
        
        <p>
          Although we perform regular routine backups of data, you are solely responsible for all data that you transmit or that
          relates to any activity you have undertaken using the Services. You agree that we shall have no liability to you for any loss or corruption of any such data.
        </p>
          
        <p>
          In order to resolve a complaint regarding the Services or to receive further information regarding use of the Services, please contact us at: weathertop@mail.com
        </p>
        
        <p>
           These terms of use were created using Termly's <a style="color: rgb(48, 48, 241) !important;" href="https://termly.io/products/terms-and-conditions-generator/">Terms and Conditions Generator</a>.
        </p>
        
      </div> 
  </div>
        
   <div class="column is-half">
      <figure>
        <img src="https://cdn.glitch.global/94c9d674-fe0d-4f74-b357-97247460aa87/weathertop-watch-tower.jpg?v=1689784018707">
      </figure>
    </div>
  </div>
      


  

      